.page-header{
    height: 200px;
    background-color: lightseagreen;
}

.page-header h1{
    color: white;
    position: relative;
    top: 20%;
    font-weight: bold;
}

.material-icons{
    font-size: 48px;
}